<footer class="footer bg-light text-muted border-top pt-3 pb-3">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                &copy; 2024 <a href="https://www.linkedin.com/in/tyler-oneil-dev/" target="_blank">Tyler O'Neil</a>
            </div>
            <div class="col-md-6 mb-md-0 mb-3">
                <a href="https://github.com/tyleroneil72/web-voyager" target="_blank" class="footer-link me-4"><i
                        class="fa-brands fa-github me-1"></i>Github</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="footer-link"><i
                        class="fa-solid fa-shield-halved me-1"></i>Privacy</a>
            </div>
        </div>
    </div>
</footer>