<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand home-link" asp-area="" asp-controller="Home" asp-action="Index"><i
                    class="fa-solid fa-globe me-1"></i>Web Voyager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="d-flex search-form" method="get">
                <input class="form-control me-2" type="text" placeholder="Search" name="searchString">
                <select class="form-control me-2" name="searchType">
                    <option value="Flights">Flights</option>
                    <option value="Hotels">Hotels</option>
                    <option value="Car Rentals">Car Rentals</option>
                </select>
                <button class="btn btn-outline-success not-implemented" type="submit">Search</button>
            </form>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i
                                class="fa-solid fa-house me-1"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark not-implemented" href="#"><i
                                class="fa-solid fa-plane me-1"></i>Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark not-implemented" href="#"><i
                                class="fa-solid fa-hotel me-1"></i>Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark not-implemented" href="#"><i class="fa-solid fa-car me-1"></i>Car
                            Rentals</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn dark-button not-implemented">Sign in</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>