@using Microsoft.AspNetCore.Identity
@using web_voyager.Areas.TravelServices.Models;
@* @inject SignInManager<IdentityUser> SignInManager *@

<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand home-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-globe me-1"></i>Web Voyager
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <form class="d-flex search-form" asp-area="" asp-controller="Home" asp-action="GeneralSearch" method="get">
                <input class="form-control me-2" type="text" placeholder="Search" name="searchString">
                <select class="form-control me-2" name="searchType">
                    <option value="Flights">Flights</option>
                    <option value="Hotels">Hotels</option>
                    <option value="Car Rentals">Car Rentals</option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i
                                class="fa-solid fa-house me-1"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="TravelServices" asp-controller="Flight"
                            asp-action="Index"><i class="fa-solid fa-plane me-1"></i>Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="TravelServices" asp-controller="Hotel"
                            class="fa-solid fa-hotel me-1"></i>Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="TravelServices" asp-controller="Car"
                            class="fa-solid fa-car me-1"></i>Car Rentals</a>
                    </li>
                    @* <li class="nav-item">
                    <button class="btn dark-button not-implemented">Sign in</button>
                    </li> *@
                    @* @if (SignInManager.IsSignedIn(User))
                    {
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
                    title="Manage your account">
                    <i class="fa fa-user-circle"></i> Profile
                    </a>
                    </li>
                    <li class="nav-item">
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark"
                    style="cursor:pointer">Logout</button>
                    </form>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                    <a class="btn dark-button mx-2" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fa fa-sign-in-alt"></i> Login
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="btn dark-button" asp-area="Identity" asp-page="/Account/Register">
                    <i class="fa fa-user-plus"></i> Register
                    </a>
                    </li>
                    } *@
                </ul>
            </div>
        </div>
    </div>
</nav>