@model web_voyager.Models.Flight
@{
    ViewData["Title"] = "Edit Flight";
}

<h2>Edit Flight</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">

            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Airline" class="control-label"></label>
                <input asp-for="Airline" class="form-control" />
                <span asp-validation-for="Airline" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" type="number" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeatsAvailable" class="control-label"></label>
                <input asp-for="SeatsAvailable" class="form-control" type="number" />
                <span asp-validation-for="SeatsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn light-button" />
                <a asp-controller="Flight" asp-action="Index" class="btn light-button">Back
                    To List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
