@model web_voyager.Areas.TravelServices.Models.Car
@{
    ViewData["Title"] = "Create Car Rental";
}

<h2>Create Car Rental</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label"></label>
                <input asp-for="PricePerDay" class="form-control" type="number" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" type="number" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CarsAvailable" class="control-label"></label>
                <input asp-for="CarsAvailable" class="form-control" type="number" />
                <span asp-validation-for="CarsAvailable" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <a asp-controller="Car" asp-action="Index" class="btn light-button">Back To Car Rentals</a>
                <input type="submit" value="Create" class="btn light-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
