@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><i class="fa-solid fa-globe me-1"></i>Web Voyager Web Application</p>
</div>
