@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr>
<p>This Privacy Policy outlines how Web Voyager ("we", "us", or "our") collects, uses, and protects your information
    when you use our website. This website serves as a platform for booking cars, hotels, and flights. It was created as
    an assignment for a web application development course. The technical stack includes ASP.NET Core MVC, Microsoft
    Entity Framework Core, C#, HTML, CSS, Bootstrap, JavaScript, jQuery, and MySQL. Leveraging AWS for database and
    image storage, alongside Azure for hosting. Please note none of this information is real and it is strictly for
    educational purposes. We do not collect any real information. This privacy policy is for educational purposes only.
</p>

<h2>Information Collection</h2>
<p>We collect information from you when you register on our site, place a booking, or fill
    out a form. The types of information collected may include your name, e-mail address, phone number.
</p>

<h2>How We Use Your Information</h2>
<p>The information we collect may be used in the following ways:</p>
<ul>
    <li>To personalize your experience</li>
    <li>To improve customer service</li>
    <li>To process (fake) bookings</li>
</ul>

<h2>Information Protection</h2>
<p>We implement a variety of security measures to maintain the safety of your personal information when you place an
    order or enter, submit, or access your personal information.</p>

<h2>Cookies</h2>
<p>We use cookies to enhance your experience, gather general visitor information, and track visits to our website. If
    you prefer, you can choose to turn off all cookies via your browser settings.</p>

<h2>Disclosure to Third Parties</h2>
<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does
    not include trusted third parties who assist us in operating our website, conducting our business, or servicing you,
    so long as those parties agree to keep this information confidential.</p>

<h2>Third Party Links</h2>
<p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third
    party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the
    content and activities of these linked sites.</p>

<h2>Your Consent</h2>
<p>By using our site, you consent to our web site's privacy policy.</p>

<h2>Changes to our Privacy Policy</h2>
<p>If we decide to change our privacy policy, we will update the Privacy Policy modification date below.</p>
<p>This policy was last modified on February 22nd 2024</p>

<h2>Contacting Us</h2>
<p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
<a href="mailto:tyleroneildev@gmail.com">tyleroneildev@gmail.com</a>
<br>
<a href="https://tyleroneil.dev" target="_blank">tyleroneil.dev</a>