@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <div class="access-denied-container">
        <div class="access-denied-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        <p class="access-denied-text">You do not have access to this resource.</p>
    </div>
</div>
