@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <div class="form-header">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <p>
                    Please check your email to confirm your account.
                </p>
            </div>
        </div>
    </div>
</div>