@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<style>
    .info-text {
        font-size: 16px;
        line-height: 1.6;
        color: #555;
        text-align: center;
    }

    .info-text a {
        color: #007bff;
        text-decoration: none;
    }

    .info-text a:hover {
        text-decoration: underline;
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <div class="form-header">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <p class="info-text">
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>
