html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  background-color: #f8f9fa; 
  color: #6c757d; 
}

.footer-link {
  color: #007bff;
  text-decoration: none; 
}

.navbar {
  background-color: rgb(99, 102, 241) !important; 
}

.navbar .navbar-nav .nav-link, .navbar-brand {
  color: #ffffff !important; 
}

.navbar .btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

.navbar .btn-outline-success:hover {
  background-color: #ffffff; 
  color: rgb(99, 102, 241); 
}

.footer-link:hover {
  color: #0056b3; 
  text-decoration: underline; 
}

.dark-button {
  background-color: rgb(69, 72, 191);
  border-color: rgb(69, 72, 191);
  color: #ffffff;
}

.dark-button:hover {
  background-color: rgb(59, 62, 161);
  border-color: rgb(59, 62, 161);
}

@media (max-width: 768px) {
  .footer .col-md-6 {
      margin-bottom: 1rem; 
  }
}